h1{
    text-align: center;
    color: #28a745;
}


.success {
    text-align: center;
    margin-top: 50px;
}

.success h2 {
    color: #28a745;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #218838;
}
